*{
    margin:0px;
    padding:0px;
}


    

.screen-first{
    background-color:#d4e2e3;
    width: 100%;
    height:auto;
    margin:0px;
    padding:0px;
}

.screen-first>.well{
    background-color:#606aa7;
    padding: 5px;
}

.screen-first>.well>.row>.col-md-9>.header-heading>.header-name{
    color: #fff;
    font-size: 25px;
}

.well .col-md-3>.header-buttons>.btn-link{
    text-decoration: none;
    color:#fff;
    border:1px solid #2dbbf6;
    border-radius: 10px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>.btn-primary{
    
    color:#fff;
    border:1px solid #000;
    border-radius: 10px;
    background-color:#2dbbf6;
    padding-left:25px;
    padding-right:25px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>a{
    text-decoration: none;
    margin-top:2px;
}

.well .col-md-3>.header-buttons>a>span{
    font-size: 20px;
    color:#d48080;
    padding:5px;
    
}

.upload-heading>h4{
    font-family: 'Angkor';
font-size: 23px;
font-weight: bold;
}

.zone-upload .upload-media>.media-section{
    width:140px;
    height:140px ;
    margin-top:25px;
    border-radius:2px dashed skyblue;
    outline-style: dashed;
    outline-color:#09aef3;
}

.zone-upload .upload-media>.media-section>a>.media-content>span{
color:#83cfec;
font-size:50px;
padding-top:30px;

}

.zone-upload .upload-media>.media-section>a{
    text-decoration: none;
}

.zone-upload .upload-media>.media-section>a>.media-content>p{
    color:#83cfec;
    font-size:20px;
    padding-top:10px;
    text-decoration: none;
    font-family: 'Angkor';
    }

.images-upload-head{
    margin-top:30px;
}

.images-upload .images-upload-head>h4{
    font-family: 'Angkor';
font-size: 23px;
font-weight: bold;
}

.media-content{

    width:140px;
    height:140px ;
    margin-top:25px;
    border-radius:2px dashed skyblue;
    outline-style: dashed;
    outline-color:#09aef3;
   
}

/*upload_setup*/

.upload-contain{
    margin-top:20px;
}



.upload-content-image{
    margin-top: 20px;
    height: 138px;
    width: 75%;
}

.upload-img-cover{
    outline-style: dashed;
    outline-color: #09aef3;
    height: 150px;;
}

.upload-contain .upload-content-image>.upload-img-cnt>a>.upload-img-cover>input[type=file] {
    height: 150px;
    background-color:#d4e2e3;
}

.cover-content{
    margin-top: 30px;
    background-color:#d4e2e3;
    margin-top: -8px;
    padding-top: 49px;
    padding-left: 5px;
    border-radius: 6px;
}

.checked {
    color: orange;
}

/*zone images*/

.col-md-8>.content-about-cover-images>p{
    font-family: 'Angkor';
    font-size: 15px;
}

.content-about-cover-images{
 margin-top:30px;   
}

/*Zones images uploads*/

.zones-images-upload{
    margin-top:50px;
    
}

.zone-img-title{
    margin-top:20px;
}

.zone-img-title>input{
    padding:5px;
    padding-bottom: 20px;
}
/*Url Youtube*/

.zone-videos{
    margin-top:100px;
}











