.zone-badge-screen{
    margin-top:30px;
}

.badge-inputs{
    margin-top:10px;
}

.badge-price{
    margin-top:-60px;
}

.badge-buttons>.btn-primary{
    background-color: #0DC8B4;
    border: none;
    border-radius: 25px;
    color:#fff;
}

.badge-buttons>.btn-default{
    background-color: #fff;
    padding-left:30px;
    padding-right: 30px;
    border-radius: 25px;
    color:#000;
}

/*tiles*/

.badges-content{
    margin-top:20px;
}

.tile-one{
    border:1px solid #0DC8B4;
    height: auto;
    border-radius: 10px;
    margin-top:20px;
    
}

.badges-tiles .col-md-3>.tile-one>p{
    opacity: 0.5;
    color: rgb(60, 209, 194);
    
}

.optional-vertical-icon>button{
    background: none;
    border: none;
    opacity: 0.5;

}
.optional-vertical-icon>button>.glyphicon-option-vertical{
    font-size: 20px;

}

.badge-tile-img{
    height: auto;
}

.tile-one .text-center>a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 73, 110);
}

























