*{
    margin:0px;
    padding:0px;
}

.zone-user-details-page{
    margin-top:10%
}

.detail-user-profil-buttons{
    margin-top:80px;
}

.detail-user-profil-buttons>.btn-info{
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
    background: #42d3ff;
    color:#fff;
}

.detail-user-profil-buttons>.btn-info{
    border-radius: 20px;
    padding-left:25px;
    padding-right:25px;
    background: #42d3ff;
    color:#fff;
    border: none;
    
}

.detail-user-profil-buttons>.btn-success{
    border-radius: 20px;
    padding-left:25px;
    padding-right:25px;
    color: #fff;
    background: #f0c518;
    border: none;
    margin-left:20px;
}

.zone-user-details-about>.zone-user-about-heading>h2{
    font-size:34px;
    font-family: Arial;
}

.zone-user-details-about>.zone-user-about-status>h5{
    color:#74dce6;
    font-size:20px;
    margin-left:20px;
}

.zone-user-details-about>.zoon-user-about-info{
    margin-top:10px;
}

.zone-user-details-about>.zoon-user-about-info>span{
    color: #7c858c;
    font-weight: bold;
    font-size:15px;
}

.zone-details-about-followers>.row>.col-sm-1>.zone-details-about-key>ul>li{
     
     color: #b8b9bd;
     font-size: 12px;
}

.zone-details-about-followers>.row>.col-sm-1>.zone-details-about-key>.zone-details-about-value>p{
     
    color: #2d829c;
    font-weight: bold;
    font-size:20px;
}




















