*{
    margin:0px;
    padding:0px;
}

.zone-owner-details-page{
    margin-top:10%
}

.zone-owner-details-profile{
    margin-right:auto;
    margin-left:auto;
}

.zone-owner-details-profile>img{
width:85%;
height: 320px;

}

.zone-owner-details-about>.zone-owner-about-heading>h2{
    font-size:34px;
    font-family:Arial, Helvetica, sans-serif;
    
    color: #7c858c;
}

.zone-owner-details-about>.zone-owner-about-status>h5{
    color:#74dce6;
    font-size:20px;
    margin-left:20px;
}

.zone-owner-details-about>.zoon-owner-about-info{
    margin-top:10px;
}

.zone-owner-details-about>.zoon-owner-about-info>span{
    color: #7c858c;
    font-size:18px;
    margin-top:10px;
}



















