*{
    margin:0px;
    padding:0px;
}

.zone-trainer-details-page{
    margin-top:10%
}

.zone-trainer-details-profile{
    margin-right:auto;
    margin-left:auto;
}

.zone-trainer-details-profile>img{
width:85%;
height: 320px;

}

.zone-trainer-details-about>.zone-trainer-about-heading>h2{
    font-size:34px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.zone-trainer-details-about>.zone-trainer-about-status>h5{
    color:#74dce6;
    font-size:20px;
    margin-left:20px;
}

.zone-trainer-details-about>.zoon-trainer-about-info{
    margin-top:10px;
}

.zone-trainer-details-about>.zoon-trainer-about-info>span{
    color: #7c858c;
    font-size:18px;
    margin-top:10px;
}

.zone-details-about-followers>.row>.col-sm-1{
    margin-left:10px;
}

.zone-details-about-followers>.row>.col-sm-1>.zone-details-about-key>ul>li{
     
     color: #b8b9bd;
     font-size: 12px;
}

.zone-details-about-followers>.row>.col-sm-1>.zone-details-about-key>.zone-details-about-value>p{
     
    color: #2d829c;
    font-weight: bold;
    font-size:20px;
}

.zone-details-about-followers{
    width: 100%;
}














@media screen and (max-width: 767px) and (min-width: 300px) {
    .zone-details-about-followers>.row>.col-sm-1{
       display: inline-block;
       margin-left:20px;
    }
}





