*{
    margin:0px;
    padding:0px;
}

.screen-second-section{
    background-color:#d4e2e3;
    width: 100%;
    height:768px;
    margin:0px;
    padding:0px;
}

.container-fluid{
    margin:0px;
    padding:0px;
}

.screen-second-section>.container-fluid>.well{
    background-color:#606aa7;
   
}

.screen-second-section>.container-fluid>.well>.row>.col-md-9>.header-heading>.header-name{
    color: #fff;
    font-size: 25px;
}

.well .col-md-3>.header-buttons>.btn-link{
    text-decoration: none;
    color:#fff;
    border:1px solid #2dbbf6;
    border-radius: 10px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>.btn-primary{
    
    color:#fff;
    border:1px solid #000;
    border-radius: 10px;
    background-color:#2dbbf6;
    padding-left:25px;
    padding-right:25px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>a{
    text-decoration: none;
    margin-top:2px;
}

.well .col-md-3>.header-buttons>a>span{
    font-size: 20px;
    color:#d48080;
    padding:5px;
    
}

.registration-setups .row>.col-md-3>.setup-manual>.img{
    height: 55px;
}