*{
    margin:0px;
    padding:0px;
}

.screen-second-section{
    background-color:#d4e2e3;
    width: 100%;
    height:auto;
    margin:0px;
    padding:0px;
}

.container-fluid{
    margin:0px;
    padding:0px;
}

.screen-second-section>.container-fluid>.well{
    background-color:#606aa7;
    padding: 5px;

}

.screen-second-section>.container-fluid>.well>.row>.col-md-9>.header-heading>.header-name{
    color: #fff;
    font-size: 25px;
}

.well .col-md-3>.header-buttons>.btn-link{
    text-decoration: none;
    color:#fff;
    border:1px solid #2dbbf6;
    border-radius: 10px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>.btn-primary{
    
    color:#fff;
    border:1px solid #000;
    border-radius: 10px;
    background-color:#2dbbf6;
    padding-left:25px;
    padding-right:25px;
    margin-right:10px;
}

.well .col-md-3>.header-buttons>a{
    text-decoration: none;
    margin-top:2px;
}

.well .col-md-3>.header-buttons>a>span{
    font-size: 20px;
    color:#d48080;
    padding:5px;
    
}

.registration-setups .row>.col-md-3>.setup-manual>.img{
    height: 55px;
}

/*Setup progress*/
.setup-progress{
    height: 10px;
    width: 10px;
    background-color:#fff;
}

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar>li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar>li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar>li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar>li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar>li.active:before,  #progressbar>li.active:after{
	background: #27AE60;
	color: white;
}



/*space_div*/

.space-dive{
    background:#acb3b6;
    width:100%;
    height: 10px;;
}


/*form_section*/

.form-section .col-md-6>form>.form-group>label{

}

.form-section .col-md-6>form>.form-group>.form-control{

box-shadow: 0px 4px 7px #aaaaaa;

}

.zone-map{
    border:1px solid #000;
    height: 200px;
    border-radius: 10px;
}


/*Wizard Setup*/

.wizard-prosses {
    margin-top:20px;
}
.stepwizard-step p {
    margin-top: 10px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


/*Form section*/

.form-section{
    margin-top:15px;
}